body {
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
}
.header {
  background:	#00008B;
  color: 	#FFFFFF;
  height: 5rem;
  margin-bottom: .5rem;
}

.search_history {
  background: snow;
  color: black;
  height: 3rem;
  width: auto;
  border: .5px solid grey;
  text-decoration: none;
}

.intro-text {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  color: darkblue;
}

.current-weather {
  height: 300px;
  border: 1px solid black;
}

p.loc {
  margin: 1rem;
}

h4 {
  margin: 1rem;
}

h5 {
  margin-top: 1rem;
}

a {
  color: black;
}

a:hover {
  color: #00008B;
}


